.carregr1{
background: rgb(195, 195, 198);
width: 500px;
height: 200px;
border-radius: 10px;
padding-top: 10px;
padding-left: 10px;
margin-bottom: 20px;
}

.carregr2{
background: rgb(195, 195, 198);
width: 500px;
height: 200px;
border-radius: 10px;
padding-top: 10px;
padding-left: 10px;
}
